<div class="row">
  <section class="col col-3">
    <ng-container *ngIf="bookmarks$ | async as bookmarks">
      <h2 class="h5" *ngIf="bookmarksLoaded$ | async; else bookmarksPlaceholder">
        Bookmarks ({{bookmarks.length}})
      </h2>
      <ng-template #bookmarksPlaceholder>
        <h2 class="h5 text-muted">loading bookmarks..</h2>
      </ng-template>
      <div class="row">
        <tm-poster *ngFor="let show of bookmarks" class="col col-6" [show]="show">
          <tm-bookmark-remove [show]="show"></tm-bookmark-remove>
        </tm-poster>
      </div>
    </ng-container>
  </section>

  <section class="col">
    <h1 class="h4">Search albums</h1>
    <form class="input-group mb-3" [formGroup]="searchForm">
      <input autocomplete="off" name="query" formControlName="query" type="search" class="form-control">
      <div class="input-group-append">
        <button [disabled]="searchForm.get('query').errors?.required" class="btn btn-primary" (click)="search(searchForm.value.query)">Search</button>
      </div>
    </form>

    <div class="row">
      <div *ngFor="let show of shows" class="col col-4">
        <tm-poster [show]="show" #bookmarkedRef="bookmarked" [tmBookmarked]="show">
          <tm-bookmark-add *ngIf="!bookmarkedRef.isBookmarked" [show]="show"></tm-bookmark-add>
          <tm-bookmark-remove *ngIf="bookmarkedRef.isBookmarked" [show]="show"></tm-bookmark-remove>
        </tm-poster>
      </div>
    </div>
  </section>
</div>
